:root {
  /* Colors */
  --color-white: hsl(0, 100%, 100%);
  --color-purple-100: hsl(275, 100%, 97%);
  --color-purple-600: hsl(292, 16%, 49%);
  --color-purple-800: #b228f0;
  --color-purple-950: hsl(292, 42%, 14%);

  /* Font Sizes */
  --fs-base: clamp(0.875rem, 2vw, 1rem);
  --fs-heading: clamp(2rem, 4vw, 2.5rem);
  --fs-subheading: clamp(1rem, 2vw, 1.25rem);

  /* Font Weights */
  --fw-normal: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Font Families */
  --font-work-sans: "Work Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  interpolate-size: allow-keywords;
}

body {
  min-height: 100vh;
  padding: 5rem 2rem;
  background-color: var(--color-purple-100);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  font-family: var(--font-work-sans);
  font-size: var(--fs-base);
  font-weight: var(--fw-normal);
}

summary {
  display: block;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

.faq-container {
  max-width: 700px;
  width: 100%;

  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq-header {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.heading {
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
  color: var(--color-purple-950);
}

.star-icon {
  display: block;
  width: 2rem;
  height: 2rem;
}

.accordion-details:not(:last-of-type) {
  border-bottom: 2px solid var(--color-purple-100);
  padding-bottom: 1rem;
}

.accordion-details::details-content {
  block-size: 0;
  transition-property: block-size, content-visibility;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
  overflow: hidden;
}

.accordion-details[open]::details-content {
  block-size: auto;
}

.accordion-summary {
  position: relative;
  padding: 1rem 5rem 1rem 0;
  cursor: pointer;

  font-size: var(--fs-subheading);
  font-weight: var(--fw-semibold);
  color: var(--color-purple-950);
  transition: color 0.2s ease;
}

.accordion-summary::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 2rem;
  height: 2rem;

  background-image: url("images/icon-plus.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
  transition: transform 0.5s ease;
}

.accordion-summary:hover {
  color: var(--color-purple-800);
}

.accordion-summary:focus-visible {
  outline: 2px solid var(--color-purple-600);
  border-radius: 0.5rem;
  outline-offset: 2px;
}

.accordion-details[open] > .accordion-summary::after {
  transform: translateY(-50%) rotate(-180deg);
  background-image: url("images/icon-minus.svg");
}

.details-content {
  color: var(--color-purple-600);
  line-height: 1.5;
}

@media (min-width: 48rem) {
  body {
    background-image: url("images/background-pattern-desktop.svg");
  }

  .accordion-summary {
    padding: 1rem 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .accordion-details::details-content {
    transition: none;
  }
}
